h1 {
    text-align: center;
    background-color: rgb(199, 131, 131);
    font-size: 18px;
    padding: 10px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}

p {
    background-color: rgba(0,230,0, 0.5);
    padding: 10px;
}

a {
    display: block;
    text-align: center;
    margin: 10px auto;
}

.recipes-list {
    border: rgba(50,30, 200, 0.3) 5px solid;
    padding: 0 0;
}
.recipe {
    text-align: center;
    display: block;
    list-style-position: inside;
}

.description, .ingredients, .steps {
    padding-bottom: 10px;
    border-bottom: rgb(0,0,0) 2px solid;
}

